.register-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9fd3d6;
}

.register-box {
  width: 380px;
  padding: 30px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.register-box h2 {
  margin-bottom: 20px;
}

.register-box input,
.register-box select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  background: white;
}

.register-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 22px;
  border: none;
  background: white;
  font-weight: bold;
  cursor: pointer;
}

.register-box p {
  margin-top: 15px;
  font-size: 13px;
}

.register-box p a {
  color: #6a5acd;
  text-decoration: none;
  font-weight: 500;
}